fastjsonschema==2.20.0
html5lib==1.1
requests==2.32.3
scikit-learn==1.5.1
scipy==1.13.1
seaborn==0.13.2
yfinance==0.2.40
pandas==2.2.2
numpy==1.26.4
matplotlib==3.9.1
matplotlib-inline==0.1.7
Django==4.2.14
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
waitress==3.0.0
psycopg2-binary==2.9.6